body {
    color                       : #0a0000;
    font-family                 : Verdana, Geneva, Tahoma, sans-serif;
    background                  : linear-gradient(rgb(159, 9, 179), transparent);
}

.perfilUsuario2 .encabezado2 {
    width                       : 100%;
    display                     : flex;
    justify-content             : center;
    background                  : linear-gradient(#b779f5, transparent);
    margin-bottom               : 20px;
}

.perfilUsuario2 .perfilUsuarioPortada2 {
    display                     : block;
    position                    : relative;
    width                       : 90%;
    height                      : 260px;
    background                  : linear-gradient(45deg, #BC3CFF, #cf5dcf);
    border-radius               : 0 0 20px 20px;
}

.perfilUsuario2 .perfilUsuarioCuerpo2,
.perfilUsuario2 {
    display                     : flex;
    left                        : -50px;
    top                         : 5px;
    flex-wrap                   : wrap;
    flex-direction              : column;
    align-items                 : center;
}


.perfilUsuario2 .perfilUsuarioCuerpo2 .boton-slogan2{
    border                      : 0;
    border-radius               : 8px;
    padding                     : 2px 15px;
    background-color            : rgba(121, 60, 116, 0.377);
    color                       : rgb(235, 230, 230);
    cursor                      : pointer;
    position                    : relative;
    left                        : 200px;
    top                         : 50px;
    text-decoration             : none;
    text-decoration             : none;
}

.perfilUsuario2 .perfilUsuarioCuerpo2 .boton-slogan2:hover {
    background-color            : blueviolet;
    color                       : #fff;
}

.perfilUsuario2 .perfilUsuarioCuerpo2 .boton-slogan22{
    border                      : 0;
    border-radius               : 8px;
    padding                     : 2px 15px;
    background-color            : rgba(121, 60, 116, 0.377);
    color                       : rgb(235, 230, 230);
    cursor                      : pointer;
    position                    : relative;
    left                        : 200px;
    top                         : 50px;
    text-decoration             : none;
}

.perfilUsuario2 .perfilUsuarioCuerpo2 .boton-slogan22:hover {
    background-color            : blueviolet;
    color                       : #fff;
}


.perfilUsuario2 .perfilUsuarioCuerpo2 .boton-infor2{
    border                      : 0;
    border-radius               : 8px;
    padding                     : 2px 15px;
    background-color            : rgba(121, 60, 116, 0.377);
    color                       : rgb(235, 230, 230);
    cursor                      : pointer;
    position                    : relative;
    left                        : 360px;
    top                         : 20px;
    text-decoration             : none;

}

.perfilUsuario2 .perfilUsuarioCuerpo2 .boton-infor2:hover {
    background-color            : blueviolet;
    color                       : #fff;
}

.perfilUsuario2 .perfilUsuarioCuerpo2 .boton-infor22{
    border                      : 0;
    border-radius               : 8px;
    padding                     : 2px 15px;
    background-color            : rgba(121, 60, 116, 0.377);
    color                       : rgb(235, 230, 230);
    cursor                      : pointer;
    position                    : relative;
    left                        : 360px;
    top                         : 20px;
    text-decoration             : none;

}

.perfilUsuario2 .perfilUsuarioCuerpo2 .boton-infor22:hover {
    background-color            : blueviolet;
    color                       : #fff;
}


.perfilUsuario2 .logo2{
    color                       : aliceblue;
    float                       : left;

}

h1{
    float                       : right;
    font-size                   : medium;
}

.perfilUsuario2 .avatar2 {
    display                     : flex;
    width                       : 190px;
    height                      : 190px;
    align-items                 : center;
    justify-content             : center;
    border                      : 7px solid #FFFFFF;
    background-color            : #DFE5F2;
    border-radius               : 50%;
    box-shadow                  : 0 0 12px rgba(0, 0, 0, .2);
    position                    : absolute;
    bottom                      : -20px;
    left                        : calc(50% - 90px);
    z-index                     : 1;
}

.perfilUsuario2 .avatar2 img {
    width                       : 100%;
    position                    : relative;
    border-radius               : 50%;
}

.perfilUsuario2 .avatar2 .boton-avatar2 {
    position                    : absolute;
    left                        : -2px;
    top                         : -2px;
    border                      : 0;
    background-color            : #fff;
    box-shadow                  : 0 0 12px rgba(0, 0, 0, .2);
    width                       : 45px;
    height                      : 45px;
    border-radius               : 50%;
    cursor                      : pointer;
}

.perfilUsuario2 .perfilUsuarioCuerpo2 {
    width                       : 140%;
    position                    : relative;
    max-width                   : 700px;
}

.perfilUsuario2 .perfilUsuarioCuerpo2 .nickname2{
    display                     : block;
    width                       : 100%;
    font-size                   : 1.75em;
    margin-bottom               : 8px;
}

.perfilUsuario2 .perfilUsuarioCuerpo2 .slogan2 {
    color                       : #848484;
    font-size                   : 15.2px;
    text-align                  : center;
}

.perfilUsuario2 .PerUsInfo2 {
    display                     : flex;
    flex-wrap                   : wrap;
    padding                     : 24px 32px;
    box-shadow                  : 0 0 12px rgba(0, 0, 0, .2);
    background-color            : #fff;
    border-radius               : 15px;
    width                       : 100%;
    font-size                   : 12px;
}

.perfilUsuario2 .perfilUsuariobas2 {
    display                     : flex;
    flex-wrap                   : wrap;
    padding                     : 24px 32px;
    box-shadow                  : 0 0 12px rgba(0, 0, 0, .2);
    background-color            : #fff;
    border-radius               : 15px;
    width                       : 100%;
    font-size                   : 12px;
}

.perfilUsuario2 .perfilUsuariobas2 {
    margin-bottom               : 20px;
    text-align                  : center;
}

.perfilUsuario2 .datos2 {
    width                       : 50%;
    list-style                  : none;
}

.perfilUsuario2 .datos2 li {
    padding                     : 5px 0;
}

.perfilUsuario2.datos2 li .icon {
    margin-right                : 16px;
    font-size                   : 19.2px;
    vertical-align              : middle;
}


.PerUsInfo2 .input{
    position                    : absolute;
    float                       : left;
}

.perfilUsuario2 .menu-perfil2 ul {
    display                     : flex;
    list-style                  : none;

}

.perfilUsuario2 .menu-perfil2 a {
    text-decoration             : none;
    color                       : inherit;
    padding                     : 8px 20px;
    font-weight                 : bold;
    border-radius               : 10px;
}

.perfilUsuario2 .menu-perfil2 a:hover {
    background-color            : blueviolet;
    color                       : #fff;
}


.perfilUsuario2 .btnclose{
    border                      : 0;
    border-radius               : 8px;
    padding                     : 2px 15px;
    background-color            : rgba(236, 87, 224, 0.89);
    color                       : rgb(235, 230, 230);
    cursor                      : pointer;
    position                    : relative;
    right                       : -1100px;
    top                         : 10px;
    z-index                     : 1;
}

.perfilUsuario2 .btnclose a{
    text-decoration             : none;

}