* {
    box-sizing                  : border-box;
    margin                      : 0;
    padding                     : 0;
  }

body {
    color                       : #0a0000;
    font-family                 : Verdana, Geneva, Tahoma, sans-serif;
    background                  : linear-gradient(rgb(159, 9, 179), transparent);
}

.busquedaUsuario .encabezado2 {
    width                       : 100%;
    display                     : flex;
    justify-content             : center;
    background                  : linear-gradient(#B873FF, transparent);
    margin-bottom               : 20px;
}


h1{
    float                       : right;
    font-size                   : medium;
}

.busquedaUsuario .Buscar {
    display                     : block;
    position                    : relative;
    width                       : 90%;
    left                        : -20px;
    height                      : 150px;
    background                  : linear-gradient(45deg, #BC3CFF, #cf5dcf);
    border-radius               : 0 0 20px 20px;
}

.busquedaUsuario .logo2{
    color                       : aliceblue;
    float                       : left;

}


.busquedaUsuario .Buscar .titulo {
    position                    : relative;
    width                       : 100%;
    font-size                   : 27px;
    margin-bottom               : 8px;
    top                         : 70px;
    left                        : 50px;
    color                       : rgb(67, 3, 92); 
}

.busquedaUsuario .menu-perfil a {
    text-decoration             : none;
    color                       : inherit;
    padding                     : 8px 20px;
    font-weight                 : bold;
    border-radius               : 10px;
}

.busquedaUsuario .menu-perfil ul {
    position                    : absolute;
    top                         : 150px ;
    right                       : 500px;
    display                     : flex;
    list-style                  : none;

}

.busquedaUsuario .menu-perfil a:hover {
    background-color            : blueviolet;
    color                       : #fff;
}

.Recuadrobusqueda{
    position                    : absolute;
    padding                     : 5px;
}
.Recuadrobusqueda span{
    position                    : absolute;
    top                         : 30px;
    left                        : 150px;
    display                     : inline block;

}
.Recuadrobusqueda input{
    position                    : absolute;
    top                         : 30px;
    left                        : 300px;
    width                       : 300px;
    height                      : 40px;
    padding                     : 0 20px;
    font-size                   : 18px;
    color                       : #0a0000;
    outline                     : none;
    border                      : 1px solid silver;
    border-radius               : 30px;
}

.boton{
    position                    : absolute;
    top                         : 25px;
    left                        : 570px;
    background                  : blueviolet;
    width                       : 45px;
    height                      : 45px;
    line-height                 : 45px;
    text-align                  : center;
    color                       : white;
    font-size                   : 20px;
    border-radius               : 100%;
    cursor                      : pointer;
}

.contenido{
    width                       : 85%;
    height                      : 80vh;
    position                    : fixed;
    top                         : 250px;
    left                        : 90px;
    background                  :rgba(137, 43, 226, 0.404);

}

.tabla{
    width                       : 80%;
    max-height                  : 200px;
    height                      : auto;
    background                  :rgba(137, 43, 226, 0.404);
    margin-left                 :  10px;
    overflow-y                  : visible;
    overflow-x                  : hidden;
}

.tabla table{
    width                       : 100%;
}

tbody tr td a{
    display                     : block;
    padding                     : 10px;
    color                       : rgb(10, 10, 10);
    text-decoration             : none;
}

tbody tr td a:hover{
    background                  : blueviolet ;
}

.busquedaUsuario .btnclose{
    border                      : 0;
    border-radius               : 8px;
    padding                     : 2px 15px;
    background-color            : rgba(236, 87, 224, 0.89);
    color                       : rgb(235, 230, 230);
    cursor                      : pointer;
    position                    : relative;
    right                       : -1100px;
    top                         : 10px;
    z-index                     : 1;
}

.busquedaUsuario .btnclose a{
    text-decoration             : none;

}