h1{
    text-align: center;
    color:#ffffff;
    background-color:rgb(157, 7, 177);
    font-family: sans-serif;
}
form{
    text-align: center;
    border:none;
    border-bottom:1px solid #fff;
    width: 350px;
    padding: 50px;
    height: 390px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(157, 7, 177);
    font-family: sans-serif;
    color:#ffffff
}
form div {
    line-height:60px;
}
form span {
    color: #fff;
    width:120px;
    display:inline-block;
    text-align: start;
}
input {
    color: #fff;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #fff;


}
button{
    background-color: darkgoldenrod;
    text-align: center;
    font-weight: bold;
    color:#ffffff;
    width:80px;
    border-radius: 10px;
    
}