<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Front Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/estilosFP.css')}}">
		<script src="https://kit.fontawesome.com/b7a8aa1dfa.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <form class="frontPage">

        
        <div class = logoFp>
            <img src="{{ url_for('static',filename='imagenes/graculalogo.png')}}" alt="" style="width:100px;height:100px;"> Gracula Religiosa  <a href="{{ url_for('buscar_usuario') }}"><input placeholder="Search" maxlength="2048" id="Search" name="Search" type="text" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" role="combobox" spellcheck="false" title="Buscar" value="" aria-label="Buscar"> </a>
        </div>
    <div class= imgSesion>
		<a href="{{ url_for('editar_perfil') }}">
        <img src="{{ url_for('static',filename='imagenes/sesion.png')}}" style="width:100px;height:70px;"/></a>
    </div>
    <div class= imgPregunta>
        <a href="{{ url_for('preguntas_frecuentes') }}"><img src="{{ url_for('static',filename='imagenes/pregunta.png')}}" style="width:100px;height:70px;"/></a>
    </div>
	<div>
		<button id="boton"  class="btnclose">
			<a href="{{ url_for('logout') }}" title=""><i class="icono-perfil fas fa-users"></i>Cerrar Sesion</a>
		</button>
	</div>
    <h2>
        ELIAS
    </h2>

    <div class= imgPerfilUsuario1>
        <img src="{{ url_for('static',filename='imagenes/img_usuarios/mariposa.jpg')}}" style="width:600px;height:200px;" />
    </div>
    <h3>
        BUTTERFLYRED
    </h3>
    
    <div class= imgPerfilUsuario2>
        <img src="{{ url_for('static',filename='imagenes/img_usuarios/camping.jpg')}}" style="width:600px;height:200px;"  />
    </div>

    <div class= imgPublicidad>
        <img src="{{ url_for('static',filename='imagenes/img_publicidad/publicidad.jpg')}}" style="width:200px;height:700px;"/>
    </div>






</form>





          
    </body>
</html>



