<DOCTYPE html>
    <html>
        <html lang="es">
        <head>
            <meta charset="UTF-8"/>
            <title>GraculaReligiosa</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/estiloLogin.css')}}"/>
        </head>
    
        <body>
        
            <form class="form" action="/login/" method="POST" name="formLogin">
                <p>
                    <img src="{{ url_for('static',filename='imagenes/graculalogo.png')}}" alt="logogracula" style="width:100px;height:100px;">
                </p>
                
                <h1 >GraculaReligiosa</h1>
                
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div class="notification is-danger">
						{{ messages[0] }}<br>Registrate <a href="{{ url_for('registro') }}">aquí</a>.
					</div>
				{% endif %}
				{% endwith %}
				
                <div><span>Usuario</span> <input type="text" id="usuario" name="usuario"></div>

                <div><span>Contraseña</span> <input type="password" id="contraseña" name="contraseña"></div>
            
                <button type="submit">Iniciar Sesion</button>
            
            </form>
    
        </body>
    <html>