<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina de perfil</title>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='CSS/estiloPerfil.css')}}" />

    </head>

  
    <body>

        <div class="principal"> 
            <p>
                <img src="{{ url_for('static',filename='imagenes/graculalogo.png')}}" alt="logogracula" style="width:60px;height:60px;">Gracula Religiosa
            </p>

        </div>

        <div class="selector">
            <div class="c1"><input type="button" id="pftxt" value="Perfil"</div>
         </div>


        <form>
  
            <form1>


            </form1>
        
            
        </form>
        
    </body>
</html>