<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Post Publicacion</title>
    </head>
    <body style="background-color:rgb(255, 255, 255);">
        <div style="background-color:rgb(122, 43, 226); width:40%  ; height: 80% ; margin-left: 35%; padding-bottom:5% ; padding-top: 3%;"  >


        
        <span>
            <img width= "7%" style= "margin-left:17% ; display: inline ;"  src="{{ url_for('static',filename='imagenes/graculalogo.png')}}">
            <h1  style="text-align: center; color: white; font-size:28px ; display: inline;">
           
                GRACULA RELIGIOSA
    
            </h1>

        </span>
        
        <div>
            <img width= "70%"  style="margin:0% 15%" src="{{url_for('static', filename='img_usuarios/velas.jpg')}}"/>
        </div>
        <span>
            <img width="6%" style= "margin-left:17% ;" src="{{url_for('static', filename='imagenes/corazon.png')}}"/>
        </span>
        <span>
            <img width="6%" src="{{url_for('static', filename='imagenes/comentario.png')}}"/>
        </span>
        <span>
            <img width="6%" src="{{url_for('static', filename='imagenes/enviar.png')}}"/>
        </span>
        <div style="margin:5% 15% ; color: white;" width="40%" >
            <p style="font-size: 20px;text-align: justify; ">
                "Lampara es a mis pies tu palabra y lumbrera a mi camino." <br>
                Salmos 119:105
            </p>
            

        </div>
        </div>
        

    </body>
</html>